h1{
	color:gold;
}
.yolo{
hight:100%;
width:50%;
color:red;
	background-image:url(http://img03.deviantart.net/17c2/i/2014/344/0/4/samurai_x___kenshin_by_reniervivas666-d7mwwig.jpg)
.name{
	margin-left:300px;
	font-size:200%;
	background-image:url(http://img03.deviantart.net/17c2/i/2014/344/0/4/samurai_x___kenshin_by_reniervivas666-d7mwwig.jpg) 
	}
	h4{
		color:red;
		font-size:150%;
		margin-left:200px;
		
	}